.large_circle,
.small_circle,.smallest_circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(238, 236, 236);
    position: fixed;
    pointer-events: none;
    transition: transform 0.1s;
    z-index: 1000;
}

.small_circle {
    width: 16px;
    height: 16px;
    background-color: rgb(51, 51, 51);
}
.smallest_circle {
    width: 8px;
    height: 8px;
    background-color: rgb(212, 112, 112);
}