#mainroot{
  max-width: 100vw;
  box-sizing: border-box;
  border:1px solid #282c34;
  background-color: #282c34;
  
}
#parent{
 
  position: relative;
}
#usefullinks{
  width: 50%;
  position: absolute;
  display: flex;
  gap:10px;
  bottom: -15%;
  left: 10%;
  
}
#usefullinks a{
 text-decoration: none;
 color: white;
 margin: auto; 
 

}
#usefullinks a:hover{
  color: blue;
}
#usefullinks>div{
box-shadow: rgba(12, 12, 51, 0.25) 0px 50px 100px -20px, rgba(78, 65, 65, 0.3) 0px 30px 60px -30px, rgba(122, 122, 124, 0.35) 0px -2px 6px 0px inset;
  padding: 1% 2%;
  border-radius: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
}
#usefullinks>div:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(9, 122, 235, 0.35) 0px -2px 6px 0px inset;
  color: rgb(129, 129, 238);
  cursor: pointer;
}
#home{
  padding: 3% 5%;
  max-width: 100%;
  gap:30px;
  background-color: #282c34;
  color: white;
  height: 400px;
  margin: auto;
    position: relative;

}
#home>div:first-child{
  width: 90%;
  height: 350px;
  margin: auto;
  

}
#home>div:nth-child(2){
  width: 67vw;
  position: absolute;
  bottom: 8%;
  left: 20vw;
  color:#f36633;
  opacity: 1.5;
 
  
}
#home img{
  opacity: 1.5;
  
  width: 100%;
  height: 100%;
  border-radius: 10px;
  
}


.navbar button {
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.89);
  text-decoration: none;
  font-size: larger;

}
.navbar button:hover{
  scale: 1.1;
  font-weight: bold;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  position: sticky;
  top:0%;
  z-index: 1000;
  background-color: rgb(33, 36, 40);
  border-bottom: 1px solid rgba(255, 255, 255, 0.89);
}
.navbar:hover{
  background-color: rgb(42, 46, 51);
}
.navbar-toggle{
  display: none;
}
.navbar-right{
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.navbar-modal{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0%;
  top:10%;
  z-index: 1000;
  width:100%;
  background-color: rgba(0, 0, 0, 0.5);
  

}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 1000;
  color:rgb(220, 221, 240);
  font-family: 'Times New Roman', Times, serif;
 
}
#about{
  width: 100%;
  margin-top:-3% ;
 background-color: #282c34;
 color: white;
  font-family: 'Times New Roman', Times, serif;

}
#about>div{
  width: 90%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  font-size: larger;
}
#about img{
  width: 90%;
  border-radius: 50%;
}
#about h3{
  font-size: 33px;
  padding: 0% 5%;
  font-family: 'Times New Roman', Times, serif;
  
}
#user-detail-intro{
  font-size: 24px;
  padding: 0% 5%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 4;
}
#skills{
  padding-top:2%;
  background-color: #282c34;
  color: white;
  font-weight: 400;
}

#skills h3{
  font-size: 35px;
  padding: 0% 5%;
  font-family: 'Times New Roman', Times, serif;
}
#skills>div:nth-child(2){
  width: 90%;
  padding: 2% 2% 2% 2%;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(5,1fr);
  gap:10px;
}
#skills>div>div {
}
.logo-animation {
  display: flex;
  align-items: center;
  font-size: 2rem;
 
   
}

.logo-letter {
  font-size: 3rem;
  opacity: 0;
    transition: opacity 0.2s ease-in-out;
    animation-name: letter-fade-in;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes letter-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.logo-letter.hidden {
  opacity: 0;
}

.logo-letter.animate {
  opacity: 1;
}

#projects {
  width: 100%;
  color: white;
  background-color: #282c34;
  margin-top: 0%;
  border-bottom: 2px solid white;
  overflow: hidden;
}
#projects h3{
 font-size: 35px;
 padding: 0% 5%;
 font-family: 'Times New Roman', Times, serif;
}
.project-card{
  width: 100%;
  display: flex;
  gap:2px;
  position: relative;
  height: 400px;
  margin: auto;
  font-family: 'Times New Roman', Times, serif
}
.project-card>div{
  width: 45%;
  padding: 0.5%;
  background-color: white;
}
.project-card>div:first-child>img {
  width: 100%;
  min-height: 350px;
 
}
.project-card>div:nth-child(1){
  position: absolute;
  top:0%;
  left:10%;
  border: 2px solid white;
  border-radius: 10px;
}
.project-card>div:nth-child(2) {
  position: absolute;
  min-height: 150px;
  top: 10%;
  left: 50%;
  border:2px solid white;
  color: #282c34;
  border-radius: 10px;
  background-image: url("https://img.freepik.com/free-photo/close-up-white-marble-texture-background_53876-63512.jpg?w=740&t=st=1683201373~exp=1683201973~hmac=bc7b45cb496f767341134ac2d457f2dc3b47074dc2ec0c3c13cc6e885070eb90");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  padding: 2% 1%;
  text-align: center;
  font-size: larger;
  font-weight:400
  
  
}
#techavatar{
  width: 40%;
  margin: auto;
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translate( -50%);
}
#links{
  display: flex;
  width: 30%;
  justify-content: space-around;
  position: absolute;
  top:-8.5%;
  left:35%

}
#avtar{
  width: 50px;
}
@media (max-width: 768px) {
 
  #home{
    position:static;
    
    
  }
  #about{
    
    margin-top: 20%;
    border:1px solid transparent;
    margin-bottom: 10%;
  }
  #home>div:nth-child(2) {
    position:static;
    
    font-size: smaller;
  color:rgb(131, 128, 240);
  opacity: 1.5;
  text-shadow:2px 2px #38393b;
  }
  #avtar {
      width: 30px;
    }
  #home{
    flex-direction: column-reverse;
    margin-bottom: -7.5%;
  }
    #home>div{
      width: 100%;
    }
    #home p{
      font-size: 20px;
    }
  #usefullinks{
  
    bottom:-10%;
    left: 10%;
  }
  #parent{
    width: 100%;
  }
  #skills>div:nth-child(2){
    grid-template-columns: repeat(3,1fr);
  }
  #about>div{
    flex-direction: column-reverse;
    font-size: 14;
  }
  #techavatar {
      width: 40%;
      margin: auto;
      position: static;
    }
  
    #links {
      display: flex;
      justify-content: space-around;
      position: static;
    }
  .project-card{
    width: 90%;
    flex-direction: column;
    gap:10%;
    padding: 5% 1%;
    position: static;
    border-bottom: 2px solid white;
    height:auto
  }
  .project-card>div:nth-child(1){
    width: 100%;
    position: static;
    border-radius: 0%;
    border: none
  }
  .project-card>div:nth-child(2){
          position: static;
              min-height: 300px;
          width: 100%;
          border-radius: 0%;
        }
  .navbar-right {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(33, 36, 40);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar-modal button {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
